<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>検索リンク - ぽんすけ</title>
<link rel="stylesheet" href="my.css">
</head>
<body>
<div id="container">
<div id="header">
    <div id="header-left-box"><a href="javascript:history.back()">&lt;</a></div>
    <div id="header-center-box"><h1><a href="./">検索リンク</a></h1></div>
    <div id="header-right-box"><a href="./index3.html">≡</a></div>
</div>

<div id="content">
    <div id="title-header-main" class="title-header">
        <div class="search-box">
            <form action="" method="get" class="search-form">
                <div class="search-border">
                    <div class="search-text">
                        <input type="search" name="s" placeholder="検索キーワード" value="" id="searchInput" />
                    </div>
                    <div class="search-clear hide">×</div>
                    <div class="search-btn"><input type="submit" value="検索" class="search-btn"/></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="header">
    <div id="box">
        <h2 class="pink">
            <a href="https://www.google.com/search?hl=ja&num=50&hl=ja&newwindow=1&safe=off&q=<%= encodeURIComponent(query) %>" target="_blank"><%= query %></a>
            の検索リンク
        </h2>
    </div>
</div>

<div class="right_330" id="linksContainer">
</div>

<div align="center">
    <div class="headmenus">
        Copyright (c) <a href="../">ぽんすけ</a>. All Rights Reserved.
    </div>
</div>
</div>

<script>
// Workers Runtime互換のJavaScript (ブラウザでも動作)
(function() {
    // URLパラメータを取得
    const urlParams = new URLSearchParams(window.location.search);
    let query = urlParams.get('s');

    // デフォルト値
    if (!query) {
        query = 'DVD';
    }

    const originalQuery = query;

    // 全角スペースを半角スペースに変換
    query = query.replace(/　/g, ' ');
    // スペースで分割
    const keywords = query.split(' ');
    // 各キーワードをエンコードし、引用符で囲んで+で結合
    const encodedKeywords = keywords.map(k => {
        const trimmed = k.replace(/\n/g, '');
        return '"' + encodeURIComponent(trimmed) + '"';
    });
    const finalQuery = encodedKeywords.join('+');

    // エンコードされたクエリ
    const encodedQuery = encodeURIComponent(originalQuery);

    // 検索結果表示用の変数
    let html = '';

    // 画像検索リンク
    html += '<a href="../ya5/yahoo.php?s=' + encodedQuery + '" target="_blank">おくぽん</a>&nbsp;';
    html += '<a href="https://www.google.com/images?hl=ja&num=50&hl=ja&newwindow=1&safe=off&tbm=isch&q=' + encodedQuery + '" target="_blank">Google 画像</a>&nbsp;';
    html += '<a href="https://image.baidu.com/search/index?tn=baiduimage&ps=1&ct=201326592&lm=-1&cl=2&nc=1&ie=utf-8&word=' + encodedQuery + '" target="_blank">百度 画像</a>&nbsp;';
    html += '<a href="https://www.bing.com/images/search?q=' + encodedQuery + '" target="_blank">Bing 画像</a>&nbsp;';
    html += '<a href="https://imagesearch.excite.co.jp/?look=excite_jp&search=' + encodedQuery + '" target="_blank">エキサイト 画像</a>&nbsp;';
    html += '<a href="https://images.search.yahoo.com/search/images?ei=utf-8&p=' + encodedQuery + '" target="_blank">Yahoo! 画像</a>&nbsp;';
    html += '<a href="https://search.yahoo.co.jp/image/search?ei=UTF-8&p=' + encodedQuery + '" target="_blank">Yahoo!.jp 画像</a>&nbsp;';
    html += '<a href="https://pic.sogou.com/pics?query=' + encodedQuery + '" target="_blank">sogou 画像</a>&nbsp;';
    html += '<a href="https://search.daum.net/search?w=img&nil_search=btn&enc=utf8&q=' + encodedQuery + '" target="_blank">Daum 画像</a>&nbsp;';
    html += '<a href="https://search.daum.net/nate?w=img&nil_search=btn&DA=NTB&enc=utf8&q=' + encodedQuery + '" target="_blank">nate 画像</a>&nbsp;';
    html += '<a href="https://image.search.naver.com/search.naver?where=image&sm=tab_jum&ie=utf8&query=' + encodedQuery + '" target="_blank">naver.kr 画像</a>&nbsp;';
    html += '<a href="https://search.goo.ne.jp/web.jsp?mode=7&IE=utf-8&MT=' + encodedQuery + '" target="_blank">goo 画像</a>&nbsp;';

    // 翻訳
    html += '<a href="https://translate.google.com/?num=50&hl=ja&newwindow=1&safe=off&um=1&ie=UTF-8&sa=N&q=' + encodedQuery + '" target="_blank">Google 翻訳</a>&nbsp;';

    // ウェブ検索
    const googleBase = 'https://www.google.com/search?hl=ja&num=50&hl=ja&newwindow=1&safe=off&q=';
    html += '<a href="' + googleBase + encodedQuery + '" target="_blank">Google ウェブ</a>&nbsp;';
    html += '<a href="https://www.google.com/search?num=50&hl=en&newwindow=1&safe=off&q=' + encodedQuery + '" target="_blank">Google ウェブen</a>&nbsp;';
    html += '<a href="https://www.baidu.com/s?ie=utf-8&wd=' + encodedQuery + '" target="_blank">百度 ウェブ</a>&nbsp;';
    html += '<a href="https://www.bing.com/search?qs=n&form=QBRE&sc=8-3&sp=-1&sk=&q=' + encodedQuery + '" target="_blank">Bing ウェブ</a>&nbsp;';
    html += '<a href="https://duckduckgo.com/?ia=web&q=' + encodedQuery + '" target="_blank">DuckDuckGo ウェブ</a>&nbsp;';
    html += '<a href="https://search.yahoo.com/search?n=40&ei=UTF-8&va_vt=any&vo_vt=any&ve_vt=any&vp_vt=any&vst=0&vf=all&vm=p&fl=0&p=' + encodedQuery + '" target="_blank">yahoo ウェブ</a>&nbsp;';
    html += '<a href="https://search.yahoo.co.jp/search?ei=UTF-8&p=' + encodedQuery + '" target="_blank">Yahoo!.jp ウェブ</a>&nbsp;';
    html += '<a href="https://www.sogou.com/web?query=' + encodedQuery + '" target="_blank">sogou ウェブ</a>&nbsp;';
    html += '<a href="https://search.daum.net/search?w=tot&q=' + encodedQuery + '" target="_blank">Daum ウェブ</a>&nbsp;';
    html += '<a href="https://suche.t-online.de/fast-cgi/tsc?q=' + encodedQuery + '" target="_blank">T-Online.de ウェブ</a>&nbsp;';
    html += '<a href="https://yandex.com/yandsearch?text=' + encodedQuery + '" target="_blank">Yandex.com ウェブ</a>&nbsp;';
    html += '<a href="https://yandex.ru/yandsearch?text=' + encodedQuery + '" target="_blank">Yandex.ru ウェブ</a>&nbsp;';
    html += '<a href="https://nova.rambler.ru/search?query=' + encodedQuery + '" target="_blank">Rambler.ru ウェブ</a>&nbsp;';
    html += '<a href="https://results.excite.com/serp?q=' + encodedQuery + '" target="_blank">excite.com ウェブ</a>&nbsp;';
    html += '<a href="https://search.seznam.cz/?q=' + encodedQuery + '" target="_blank">seznam.cz ウェブ</a>&nbsp;';
    html += '<a href="https://quark.sm.cn/s?q=' + encodedQuery + '" target="_blank">sm.cn ウェブ</a>&nbsp;';
    html += '<a href="https://www.so.com/s?ie=utf-8&fr=none&src=360sou_newhome&q=' + encodedQuery + '" target="_blank">so.com ウェブ</a>&nbsp;';
    html += '<a href="https://www.ecosia.org/search?method=index&q=' + encodedQuery + '" target="_blank">ecosia.org ウェブ</a>&nbsp;';
    html += '<a href="https://www.ask.com/web?o=0&l=dir&qo=serpSearchTopBox&q=' + encodedQuery + '" target="_blank">ask.com ウェブ</a>&nbsp;';

    // ショッピング
    html += '<a href="https://www.amazon.co.jp/gp/search?keywords=' + encodedQuery + '" target="_blank">Amazon.co.jp</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:amazon.co.jp+' + finalQuery + '" target="_blank">amazon</a>&nbsp;';
    html += '<a href="https://search.rakuten.co.jp/search/mall/' + encodedQuery + '/" target="_blank">楽天市場</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:rakuten.co.jp+' + finalQuery + '" target="_blank">rakuten</a>&nbsp;';
    html += '<a href="https://auctions.yahoo.co.jp/search/search?p=' + encodedQuery + '" target="_blank">ヤフオク</a>&nbsp;';
    html += '<a href="https://shopping.yahoo.co.jp/search?p=' + encodedQuery + '" target="_blank">Yahoo! ショッピング</a>&nbsp;';
    html += '<a href="https://paypaymall.yahoo.co.jp/search?p=' + encodedQuery + '" target="_blank">paypayモール</a>&nbsp;';
    html += '<a href="https://www.google.com/search?hl=ja&newwindow=1&safe=off&tbm=shop&q=' + encodedQuery + '" target="_blank">Google ショッピング</a>&nbsp;';
    html += '<a href="https://www.bestgate.net/search.phtml?word=' + encodedQuery + '" target="_blank">ベストゲート</a>&nbsp;';
    html += '<a href="https://jp.mercari.com/search?keyword=' + encodedQuery + '" target="_blank">メルカリ1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:mercari.com+' + finalQuery + '" target="_blank">メルカリ2</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:fril.jp+' + finalQuery + '" target="_blank">フリル</a>&nbsp;';

    // 動画
    html += '<a href="https://www.google.com/search?hl=ja&newwindow=1&safe=off&tbm=vid&q=' + encodedQuery + '" target="_blank">Google 動画</a>&nbsp;';
    html += '<a href="https://v.baidu.com/v?ie=utf-8&word=' + encodedQuery + '" target="_blank">百度 動画</a>&nbsp;';
    html += '<a href="https://www.bing.com/videos/search?q=' + encodedQuery + '" target="_blank">Bing 動画</a>&nbsp;';
    html += '<a href="https://video.search.yahoo.com/search/video?ei=utf-8&p=' + encodedQuery + '" target="_blank">Yahoo! 動画</a>&nbsp;';
    html += '<a href="https://video.search.yahoo.co.jp/search?ei=UTF-8&p=' + encodedQuery + '" target="_blank">Yahoo!.jp 動画</a>&nbsp;';
    html += '<a href="https://v.sogou.com/v?query=' + encodedQuery + '" target="_blank">sogou 動画</a>&nbsp;';
    html += '<a href="https://search.daum.net/search?w=vclip&nil_search=btn&enc=utf8&q=' + encodedQuery + '" target="_blank">Daum 動画</a>&nbsp;';
    html += '<a href="https://search.daum.net/nate?w=vclip&nil_search=btn&DA=NTB&enc=utf8&q=' + encodedQuery + '" target="_blank">nate 動画</a>&nbsp;';
    html += '<a href="https://search.naver.com/search.naver?where=video&sm=tab_jum&ie=utf8&query=' + encodedQuery + '" target="_blank">naver.kr 動画</a>&nbsp;';
    html += '<a href="https://search.goo.ne.jp/web.jsp?mode=6&IE=utf-8&MT=' + encodedQuery + '" target="_blank">goo 動画</a>&nbsp;';

    // 開発者向けサイト
    html += '<a href="' + googleBase + 'site:github.com+' + finalQuery + '" target="_blank">github.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:huggingface.co+' + finalQuery + '" target="_blank">huggingface.co</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:colab.research.google.com+' + finalQuery + '" target="_blank">colab.google.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:civitai.com+' + finalQuery + '" target="_blank">civitai.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:tensor.art+' + finalQuery + '" target="_blank">tensor.art</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:seaart.ai+' + finalQuery + '" target="_blank">seaart.ai</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:chrome.google.com+' + finalQuery + '" target="_blank">chrome.google.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:addons.mozilla.org+' + finalQuery + '" target="_blank">addons.mozilla.org</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:sourceforge.net+' + finalQuery + '" target="_blank">sourceforge.net</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:qq.com+' + finalQuery + '" target="_blank">qq.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:dailymotion.com+' + finalQuery + '" target="_blank">dailymotion</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:vimeo.com+' + finalQuery + '" target="_blank">vimeo</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:bilibili.com+' + finalQuery + '" target="_blank">bilibili</a>&nbsp;';

    // ニコニコ動画
    html += '<a href="https://www.nicovideo.jp/search/' + encodedQuery + '" target="_blank">ニコニコ動画1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:nicovideo.jp+%E3%82%B3%E3%83%A1%E3%83%B3%E3%83%88%E6%95%B0+' + finalQuery + '" target="_blank">ニコニコ動画2</a>&nbsp;';

    // YouTube
    html += '<a href="https://www.youtube.com/results??hl=ja&num=50&hl=ja&newwindow=1&safe=off&q=' + encodedQuery + '" target="_blank">youtube1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:youtube.com+' + finalQuery + '" target="_blank">youtube2</a>&nbsp;';

    // 仮想通貨
    html += '<a href="' + googleBase + 'site:coinmarketcap.com+' + finalQuery + '" target="_blank">coinmarketcap</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:coingecko.com+' + finalQuery + '" target="_blank">coingecko</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:opensea.io+' + finalQuery + '" target="_blank">opensea.io</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:tofunft.com+' + finalQuery + '" target="_blank">tofunft.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:nftrade.com+' + finalQuery + '" target="_blank">nftrade.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:dappradar.com+' + finalQuery + '" target="_blank">dappradar.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:dapp.com+' + finalQuery + '" target="_blank">dapp.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:bitcointalk.org+' + finalQuery + '" target="_blank">bitcointalk</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:reddit.com+' + finalQuery + '" target="_blank">reddit</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:quora.com+' + finalQuery + '" target="_blank">quora</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:medium.com+' + finalQuery + '" target="_blank">medium</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:4chan.org+' + finalQuery + '" target="_blank">4chan.org</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:blogspot.com+' + finalQuery + '" target="_blank">blogspot.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:wordpress.com+' + finalQuery + '" target="_blank">wordpress.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:pastebin.com+' + finalQuery + '" target="_blank">pastebin.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:archive.is+' + finalQuery + '" target="_blank">archive.is</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:stackoverflow.com+' + finalQuery + '" target="_blank">stackoverflow</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:ebay.com+' + finalQuery + '" target="_blank">ebay.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:amazon.com+' + finalQuery + '" target="_blank">amazon.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:soehoe.id+' + finalQuery + '" target="_blank">soehoe.id</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:forexdengi.com+' + finalQuery + '" target="_blank">forexdengi.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:forexsystemsru.com+' + finalQuery + '" target="_blank">forexsystemsru.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:mql5.com/en/code+' + finalQuery + '" target="_blank">mql5.code</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:mql5.com/en/forum+' + finalQuery + '" target="_blank">mql5.forum</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:forexfactory.com+' + finalQuery + '" target="_blank">forexfactory.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:tradingsystemforex.com+' + finalQuery + '" target="_blank">tradingsystemforex</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:forum.worldwide-invest.org+' + finalQuery + '" target="_blank">worldwide-invest.org</a>&nbsp;';

    // SNS
    html += '<a href="' + googleBase + 'site:steamcommunity.com+' + finalQuery + '" target="_blank">steam1</a>&nbsp;';
    html += '<a href="https://twitter.com/search?q=' + encodedQuery + '" target="_blank">twitter1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:twitter.com+' + finalQuery + '" target="_blank">twitter2</a>&nbsp;';
    html += '<a href="https://www.facebook.com/search/top/?q=' + encodedQuery + '" target="_blank">facebook1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:facebook.com+' + finalQuery + '" target="_blank">facebook2</a>&nbsp;';
    html += '<a href="https://www.instagram.com/explore/tags/' + encodedQuery + '/" target="_blank">instagram1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:instagram.com+' + finalQuery + '" target="_blank">instagram2</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:twitch.tv+' + finalQuery + '" target="_blank">twitch1</a>&nbsp;';

    // 情報商材・コンテンツ
    html += '<a href="' + googleBase + 'site:coconala.com+' + finalQuery + '" target="_blank">coconala.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:gogojungle.co.jp+' + finalQuery + '" target="_blank">gogojungle.co.jp</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:infotop.jp+' + finalQuery + '" target="_blank">infotop.jp</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:infocart.jp+' + finalQuery + '" target="_blank">infocart.jp</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:info-zero.jp+' + finalQuery + '" target="_blank">info-zero.jp</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:mailzou.com+' + finalQuery + '" target="_blank">mailzou.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:xam.jp+' + finalQuery + '" target="_blank">xam.jp</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:note.com+' + finalQuery + '" target="_blank">note.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:crowdworks.jp+' + finalQuery + '" target="_blank">crowdworks</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:pixiv.net+' + finalQuery + '" target="_blank">pixiv</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:linkedin.com+' + finalQuery + '" target="_blank">linkedin</a>&nbsp;';

    // 2ch系
    html += '<a href="' + googleBase + 'site:5ch.net+' + finalQuery + '" target="_blank">2ch1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:logsoku.com+' + finalQuery + '" target="_blank">2ch2</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:2ch.sc+' + finalQuery + '" target="_blank">2ch3</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:desktop2ch.net+' + finalQuery + '" target="_blank">2ch4</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:2ch.net+' + finalQuery + '" target="_blank">2ch5</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:log-for.me+' + finalQuery + '" target="_blank">2ch6</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:mimizun.com+' + finalQuery + '" target="_blank">2ch7</a>&nbsp;';

    // ファイル検索
    html += '<a href="' + googleBase + 'Index+of+Name+Last+modified+Size+Description+' + finalQuery + '" target="_blank">google file seach</a>&nbsp;';

    // ニュース
    html += '<a href="' + googleBase + 'site:news.line.me+' + finalQuery + '" target="_blank">news1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:news.yahoo.co.jp+' + finalQuery + '" target="_blank">news2</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:news.goo.ne.jp+' + finalQuery + '" target="_blank">news3</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:news.livedoor.com+' + finalQuery + '" target="_blank">news4</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:news.biglobe.ne.jp+' + finalQuery + '" target="_blank">news5</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:news.nifty.com+' + finalQuery + '" target="_blank">news6</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:news.infoseek.co.jp+' + finalQuery + '" target="_blank">news7</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:article.auone.jp+' + finalQuery + '" target="_blank">news8</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:msn.com+' + finalQuery + '" target="_blank">news9</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:excite.co.jp+' + finalQuery + '" target="_blank">news10</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:topics.smt.docomo.ne.jp+' + finalQuery + '" target="_blank">news11</a>&nbsp;';

    // 求人情報
    html += '<a href="' + googleBase + 'site:indeed.com+' + finalQuery + '" target="_blank">求人情報1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:careerjet.jp+' + finalQuery + '" target="_blank">求人情報2</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:xn--pckua2a7gp15o89zb.com+' + finalQuery + '" target="_blank">求人情報3</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:stanby.com+' + finalQuery + '" target="_blank">求人情報4</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:baitoru.com+' + finalQuery + '" target="_blank">求人情報5</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:froma.com+' + finalQuery + '" target="_blank">求人情報6</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:e-aidem.com+' + finalQuery + '" target="_blank">求人情報7</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:townwork.net+' + finalQuery + '" target="_blank">求人情報8</a>&nbsp;';

    // アプリ
    html += '<a href="' + googleBase + 'site:play.google.com+' + finalQuery + '" target="_blank">Google Play1</a>&nbsp;';
    html += '<a href="https://play.google.com/store/search?hl=ja&q=' + encodedQuery + '" target="_blank">Google Play2</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:itunes.apple.com/jp+' + finalQuery + '" target="_blank">App Store</a>&nbsp;';
    html += '<a href="https://www.apple.com/jp/search/' + encodedQuery + '" target="_blank">apple</a>&nbsp;';

    // その他サービス
    html += '<a href="' + googleBase + 'site:onsen.nifty.com+' + finalQuery + '" target="_blank">nifty 温泉</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:carsensor.net+' + finalQuery + '" target="_blank">カーセンサー</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:mapfan.com+' + finalQuery + '" target="_blank">マップファン</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:mapion.co.jp+' + finalQuery + '" target="_blank">マピオン</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:weathernews.jp+' + finalQuery + '" target="_blank">ウェザーニュース</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:weather.livedoor.com+' + finalQuery + '" target="_blank">livedoor 天気</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:mixi.jp+' + finalQuery + '" target="_blank">ミクシィ</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:nifty.com+' + finalQuery + '" target="_blank">nifty</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:biglobe.ne.jp+' + finalQuery + '" target="_blank">biglobe</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:livedoor.com+' + finalQuery + '" target="_blank">livedoor</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:infoseek.co.jp+' + finalQuery + '" target="_blank">infoseek</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:goo.ne.jp+' + finalQuery + '" target="_blank">goo</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:fc2.com+' + finalQuery + '" target="_blank">fc2</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:yahoo.co.jp+' + finalQuery + '" target="_blank">yahoo.jp</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:yahoo.com+' + finalQuery + '" target="_blank">yahoo.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:with2.net+' + finalQuery + '" target="_blank">with2</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:blogmura.com+' + finalQuery + '" target="_blank">blogmura</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:hikaku.com+' + finalQuery + '" target="_blank">hikaku</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:kakaku.com+' + finalQuery + '" target="_blank">kakaku</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:bestgate.net+' + finalQuery + '" target="_blank">bestgate</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:infotop.jp+' + finalQuery + '" target="_blank">インフォトップ</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:infocart.jp+' + finalQuery + '" target="_blank">インフォカート</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:ameblo.jp+' + finalQuery + '" target="_blank">ameblo</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:msn.com+' + finalQuery + '" target="_blank">msn</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:excite.co.jp+' + finalQuery + '" target="_blank">excite</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:famitsu.com+' + finalQuery + '" target="_blank">ファミ通</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:impress.co.jp+' + finalQuery + '" target="_blank">インプレス</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:nikkeibp.co.jp+' + finalQuery + '" target="_blank">日経 BP</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:itmedia.co.jp+' + finalQuery + '" target="_blank">ITmedia</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:gigazine.net+' + finalQuery + '" target="_blank">GIGAZINE</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:nhk.or.jp+' + finalQuery + '" target="_blank">NHKオンライン</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:onsen.ag+' + finalQuery + '" target="_blank">＜音泉＞</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:flickr.com+' + finalQuery + '" target="_blank">フリッカー画像</a>&nbsp;';
    html += '<a href="https://www.baidu.com/s?ie=utf-8&wd=mp3+' + encodedQuery + '" target="_blank">百度 mp3</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:shingakunet.com+' + finalQuery + '" target="_blank">リクナビ進学</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:mynavi.jp+' + finalQuery + '" target="_blank">マイナビ進学</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:best-shingaku.net+' + finalQuery + '" target="_blank">ベスト進学ネット</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:benesse.ne.jp+' + finalQuery + '" target="_blank">ベネッセ</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:chiebukuro.yahoo.co.jp+' + finalQuery + '" target="_blank">Yahoo!知恵袋</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:okwave.jp+' + finalQuery + '" target="_blank">Q&AサイトOKWave</a>&nbsp;';

    // Torrent
    html += '<a href="' + googleBase + 'site:nyaa.si+' + finalQuery + '" target="_blank">torrent1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:torrent-games.net+' + finalQuery + '" target="_blank">torrent2</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:n-torrents.ru+' + finalQuery + '" target="_blank">torrent3</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:e-hentai.org+' + finalQuery + '" target="_blank">e-hentai.org</a>&nbsp;';

    // 中国・韓国ソーシャル
    html += '<a href="' + googleBase + 'site:weibo.com+' + finalQuery + '" target="_blank">weibo.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:baidu.com+' + finalQuery + '" target="_blank">baidu.com</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:sina.com.cn+' + finalQuery + '" target="_blank">sina.com.cn</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:people.com.cn+' + finalQuery + '" target="_blank">people.com.cn</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:tianya.cn+' + finalQuery + '" target="_blank">tianya.cn</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:sohu.com+' + finalQuery + '" target="_blank">sohu.com</a>&nbsp;';

    // 不動産
    html += '<a href="' + googleBase + 'site:realestate.yahoo.co.jp+' + finalQuery + '" target="_blank">不動産1</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:athome.co.jp+' + finalQuery + '" target="_blank">不動産2</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:homes.co.jp+' + finalQuery + '" target="_blank">不動産3</a>&nbsp;';
    html += '<a href="' + googleBase + 'site:suumo.jp+' + finalQuery + '" target="_blank">不動産4</a>&nbsp;';

    // ウィキペディア
    html += '<a href="https://ja.wikipedia.org/wiki/' + encodedQuery + '" target="_blank">ウィキペディア</a>&nbsp;';

    // Edit title with query
    document.title = originalQuery + ' - の検索リンク - ぽんすけ';

    // Set search input value
    document.getElementById('searchInput').value = originalQuery;

    // Update header h2 link
    const headerLink = document.querySelector('#box h2 a');
    if (headerLink) {
        headerLink.href = 'https://www.google.com/search?hl=ja&num=50&hl=ja&newwindow=1&safe=off&q=' + encodedQuery;
        headerLink.textContent = originalQuery;
    }

    // Insert links
    document.getElementById('linksContainer').innerHTML = html;
})();
</script>
</body>
</html>
